@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  font-size: 12px;
  color: black;
  list-style: none;
}
/***************************/
#top-bar {
  width: 100%;
  height: 29px;
  background: white;
  border-bottom: solid 1px #ededed;
  background: #fafafa;
}
#top-bar .center {
  width: 1200px;
  line-height: 29px;
  margin-left: auto;
  margin-right: auto;
}
#top-bar .ul-l {
  float: left;
}
#top-bar .ul-r {
  float: right;
}
#top-bar li {
  float: left;
  padding: 0 10px;
  background: url("../images/bg65.png") no-repeat;
  background-position: 0px 9px;
}
#top-bar .first {
  padding-left: 0px;
  background-image: none;
}
#top-bar a {
  color: #8c8c8c;
  font-family: 微软雅黑;
}
#top-bar a:hover {
  color: #ba181f;
}
#top-bar .bar-site-nav {
  position: relative;
  width: 70px;
}
#top-bar .bar-site-nav .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../images/sprites3.png") no-repeat -33px 4px;
}
#top-bar .bar-site-nav:hover {
  border-left: solid 1px #ededed;
  border-right: solid 1px #ededed;
  padding: 0 9px;
  background: white;
}
#top-bar .bar-site-nav:hover .bar-site-nav-ul {
  display: block;
}
#top-bar .bar-site-nav:hover .icon {
  background-position: 0px 4px;
}
#top-bar .bar-site-nav-ul {
  position: absolute;
  display: none;
  width: 88px;
  background: white;
  border: solid 1px #ededed;
  border-top: none;
  top: 28px;
  right: -1px;
  z-index: 10;
}
#top-bar .bar-site-nav-ul:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
#top-bar .bar-site-nav-ul li {
  background: none;
  line-height: 25px;
  width: 70px;
}
#unlogin_status a {
  color: #333333;
  margin-right: 10px;
}
#header {
  width: 100%;
  height: 118px;
}
#header .center {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 118px;
}
#header .center:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.header-logo {
  float: left;
  margin-top: 50px;
}
.search-bar {
  float: left;
  width: 440px;
  height: 60px;
  margin-left: 120px;
  margin-top: 50px;
}
.search-bar form {
  float: left;
}
.search-bar form:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.search-bar .text {
  float: left;
  height: 28px;
  line-height: 28px;
  width: 346px;
  border: solid #ca141d 2px;
  border-right: none;
  color: #8c8c8c;
  background: white;
  padding-left: 10px;
  padding-right: 10px;
}
.search-bar .btn {
  float: left;
  width: 70px;
  height: 32px;
  background: #ca141d;
  color: white;
  font-family: 微软雅黑;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
}
.search-bar .btn:hover {
  background: #d5434a;
}
.search-bar .search-hot {
  width: 440px;
  height: 26px;
  line-height: 26px;
}
.search-bar .search-hot:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.search-bar dt,
.search-bar dd {
  float: left;
}
.search-bar b {
  color: #8c8c8c;
  font-weight: normal;
  font-family: 微软雅黑;
}
.search-bar a {
  color: #8c8c8c;
  font-family: 微软雅黑;
  margin-left: 10px;
}
.search-bar a:hover {
  color: #ba181f;
}
.mine {
  width: 201px;
  height: 30px;
  float: left;
  margin-top: 50px;
  margin-left: 10px;
  border: solid 1px #ededed;
  border-bottom: none;
}
.mine .gap-line {
  display: block;
  width: 1px;
  height: 12px;
  float: left;
  background: #ededed;
  margin-top: 10px;
}
.mine .plz-login {
  position: absolute;
  left: -1px;
  width: 201px;
  height: 35px;
  line-height: 35px;
  border: solid 1px #ededed;
  border-top: none;
  display: none;
}
.mine .plz-login span {
  margin-right: 10px;
  font-family: 微软雅黑;
  color: #8c8c8c;
}
.mine .plz-login a {
  margin-left: 5px;
  margin-right: 5px;
}
.mine .ul {
  display: none;
  position: absolute;
  width: 201px;
  top: 66px;
  left: -1px;
  border: solid 1px #ededed;
}
.mine .ul:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.mine .ul li {
  float: left;
  width: 100px;
  height: 30px;
}
.mine .ul .gap-line-r {
  border-right: solid 1px #ededed;
}
.mine .mine-basket-show {
  display: none;
}
.mine-mall,
.mine-basket {
  width: 100px;
  height: 30px;
  float: left;
  line-height: 30px;
  text-align: center;
  position: relative;
  border-bottom: solid 1px #ededed;
}
.mine-mall .icon,
.mine-basket .icon {
  display: inline-block;
  width: 6px;
  height: 3px;
  background: url("../images/icon1.png") no-repeat -234px -2px;
  margin-left: 10px;
  margin-top: 14px;
  vertical-align: top;
}
.mine-mall a,
.mine-basket a {
  color: #8c8c8c;
  font-family: 微软雅黑;
  color: #333333;
}
.mine-mall a:hover,
.mine-basket a:hover {
  color: #ba181f;
}
.mine-mall a:hover,
.mine-basket a:hover {
  text-decoration: underline;
}
.mine-mall:hover {
  border-right: solid 1px #ededed;
  border-bottom-color: white;
  margin-right: -1px;
}
.mine-mall:hover .plz-login {
  display: block;
}
.mine-mall:hover ul {
  display: block;
  background: white;
}
.mine-mall:hover .icon {
  background-position: -234px 0px;
}
.mine-basket:hover {
  border-bottom-color: white;
}
.mine-basket:hover .mine-basket-show {
  display: block;
}
.mine-basket-show {
  display: none;
  width: 468px;
  min-height: 100px;
  border: solid 1px #ededed;
  position: absolute;
  right: -1px;
  top: 30px;
  background: white;
}
.mine-basket-show p {
  color: #8c8c8c;
  background: url("../images/icon1.png") no-repeat -265px 0px;
  width: 50%;
  text-align: left;
  text-indent: 50px;
  margin: 40px auto;
}
#two-dimension {
  width: 90px;
  height: 80px;
  float: right;
  margin-top: 20px;
}
#two-dimension .Viwepager-items {
  float: left;
}
#two-dimension .Viwepager-flags {
  float: right;
  width: 10px;
  height: 50px;
}
#two-dimension span {
  display: block;
  width: 10px;
  height: 10px;
  background: gray;
  margin-bottom: 8px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 0;
}
#two-dimension P {
  clear: both;
  font-size: 10px;
}
.over-flag-class {
  background: orange !important;
}
#nav {
  width: 100%;
  height: 40px;
  background: #ba181f;
}
#nav .center {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 40px;
}
.nav-list {
  margin-left: 218px;
}
.nav-list li {
  float: left;
}
.nav-list li:hover {
  background: #ca141d;
}
.nav-list a {
  padding: 0 30px;
  height: 40px;
  line-height: 39px;
  display: block;
  color: white;
  font: 微软雅黑;
  font-weight: bold;
  font-size: 16px;
}
.nav-category {
  position: absolute;
  z-index: 20;
  width: 218px;
  height: 438px;
  background: #e63547;
  border: solid 1px #f86675;
}
.nav-category > dt {
  height: 38px;
  border-bottom: solid 1px #da3243;
  font: normal 16px 微软雅黑;
  line-height: 38px;
  padding-left: 15px;
  color: white;
}
.nav-category > dd {
  position: relative;
  width: 206px;
  height: 50px;
  margin-left: 3px;
  padding-left: 10px;
  padding-top: 7px;
  cursor: hand;
}
.nav-category > dd h3 {
  font: normal 16px 微软雅黑;
  color: white;
  margin-bottom: 5px;
}
.nav-category > dd > a {
  color: #ffb7ba;
  margin-right: 5px;
}
.nav-category > dd .icon {
  display: none;
  position: absolute;
  width: 7px;
  height: 13px;
  background: url("../images/icon1.png") no-repeat -98px -47px;
  top: 20px;
  right: 8px;
}
.nav-category > dd:hover {
  background: white;
}
.nav-category > dd:hover > h3 {
  color: #e63547;
}
.nav-category > dd:hover > a {
  color: #d59698;
}
.nav-category > dd:hover .icon {
  display: block;
}
.nav-category > dd:hover .nav-category-ul {
  display: block;
}
.nav-category .nth-1,
.nav-category .nth-2 {
  top: -1px;
}
.nav-category .nth-3 {
  top: -1px;
}
.nav-category .nth-4 {
  top: -138px;
}
.nav-category .nth-5 {
  top: -125px;
}
.nav-category .nth-6 {
  top: -86px;
}
.nav-category .nth-7 {
  top: -26px;
}
.nav-category-ul {
  display: none;
  position: absolute;
  width: 180px;
  left: 216px;
  background: white;
  padding: 15px 0px;
  border-top: solid 1px #ededed;
  border-right: solid 1px #ededed;
  border-bottom: solid 1px #ededed;
}
.nav-category-ul li {
  float: left;
  background: white;
}
.nav-category-ul li > a {
  display: block;
  padding: 0 25px;
  width: 130px;
  height: 35px;
  font: normal 14px 微软雅黑;
  color: gray;
  line-height: 38px;
}
.nav-category-ul li:hover {
  background: #efeaea;
}
.nav-category-ul h4 {
  float: left;
  width: 130px;
  height: 22px;
  background: #e63547;
  line-height: 22px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 25px;
  color: white;
}
.nav-category-ul > a {
  float: left;
  display: block;
  width: 130px;
  margin-bottom: 12px;
  margin-left: 25px;
  color: #8c8c8c;
}
#banner {
  background: #f6f6f6;
}
#banner .center {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 400px;
  background: yellow;
}
#focus-pic {
  width: 980px;
  height: 400px;
  margin-left: 220px;
  position: relative;
}
#focus-pic .Viwepager-flags {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
#focus-pic .Viwepager-flags span {
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 0;
  background: white;
  margin-right: 10px;
}
#cabinet {
  width: 100%;
}
#cabinet .center {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}
.cabinet-row-1 {
  width: 1200px;
  height: 312px;
  margin: 15px auto;
}
.cabinet-row-1 > ul {
  float: left;
  width: 904px;
}
.cabinet-row-1 > ul:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.cabinet-row-1 .wrap-goods-1 {
  width: 450px;
  height: 312px;
  float: left;
  background: #f8f8f8;
}
.cabinet-row-1 .wrap-goods-2 {
  width: 442px;
  height: 304px;
  background: #f8f8f8;
  position: relative;
}
.cabinet-row-1 .aimg-1 {
  float: left;
  margin-top: 25px;
  margin-left: 30px;
}
.cabinet-row-1 .describe {
  float: left;
  height: 180px;
  width: 200px;
  position: relative;
  margin-top: 50px;
  padding-left: 30px;
}
.cabinet-row-1 .describe .text-1 {
  margin-bottom: 16px;
}
.cabinet-row-1 .describe .box {
  position: absolute;
  bottom: 0px;
}
.cabinet-row-1 .describe .text-price {
  margin-right: 10px;
}
.cabinet-row-1 .icon-hot-sale {
  position: absolute;
  left: -5px;
  top: -5px;
}
.cabinet-row-1 .cabinet-row-1-2 {
  margin-left: -1px;
}
.cabinet-row-1 .cabinet-row-1-2 .wrap-goods-2 {
  background: #e2f9fb;
  border-color: #e2f9fb;
}
.cabinet-row-1 .cabinet-row-1-2 .wrap-goods-2:hover {
  border-color: #efcacc;
}
.cabinet-row-1 .cabinet-row-1-2 .text-3 {
  margin-top: 10px;
}
.cabinet-row-1-ad {
  float: right;
  width: 278px;
  height: 312px;
  border: solid 1px #ededed;
}
/*******/
.aimg-1 {
  display: inline-block;
  width: 157px;
  height: 252px;
}
.wrap-goods-1 {
  border: solid 1px #ededed;
  background: white;
}
.wrap-goods-2 {
  background: white;
  border: solid 4px #f8f8f8;
  transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  /* Firefox 4 */
  -webkit-transition: border-color 0.25s;
  /* Safari and Chrome */
  -o-transition: border-color 0.25s;
  /* Opera */
}
.wrap-goods-2:hover {
  border-color: #efcacc;
}
.text-1 {
  font: normal 26px 微软雅黑;
  color: black;
}
.text-2 {
  font-size: 14px;
  color: #8c8c8c;
}
.text-3 {
  font-size: 14px;
  color: #ca141d;
}
.text-price {
  font: normal 20px 微软雅黑;
  color: #e01d20;
}
.btn-1 {
  display: inline-block;
  width: 78px;
  background: #e01d20;
  height: 30px;
  color: white;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  font-family: 微软雅黑;
  font-size: 14px;
  border: solid 1px #b3131a;
}
.btn-1:hover {
  background: #f0333c;
}
.icon-hot-sale {
  display: block;
  width: 63px;
  height: 58px;
  background: url("../images/1382542488099.png") no-repeat;
}
.a-1 {
  color: #8c8c8c;
  font-family: 微软雅黑;
}
.a-1:hover {
  color: #ba181f;
}
.align-center {
  margin-left: auto;
  margin-right: auto;
}
.clear-f:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.d-b {
  display: block;
}
.show-border {
  border: solid 1px red;
}
/***************************/
/***************************/
